* {

    margin: 0%;
    padding: 0%;
    color: greenyellow;
    text-decoration: none;

                  
}

li {
    
    list-style-type: none;
        
}


body {

    
    min-height: 100vh;
    text-align: center;
    align-content: center;
    background-image: url(carbackground.jpg);
    background-size: cover;
    background-repeat: no repeat;
    background-position: center center;
    font-family:'Times New Roman', Times, serif;
    

    
}



.carousel{

    margin: 100px auto;
    width: 90%;
    border: 5px gray;
    display: flex;
    overflow-x: auto; 
    gap: 1em;
    

}

.carousel::-webkit-scrollbar {

    display: none;

}

.group {

    display: flex;
    align-content: center;
    justify-content: center;
    gap: 1em;
    animation: spin 50s infinite linear;
    padding-right: 1em;


}

.card { 

    flex: 0 0 5em;
    height: 5em;
    padding: 1em;
    background: none;
    font-size: 3rem;
    border-radius: .2em;
    text-align: center;
    align-content: center;
    


}

@keyframes spin {

    from {translate: 0;}
    to {translate: -100%}

}

@media (max-width: 600px ) {
    .logo {
        font-size: 16px;
    }

    .links {
        font-size: 12px;
        padding: 0.3rem 0.5rem;
    }



}
 
.brakes {

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(brakespic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    height: 750px;
    font-size: 100px;

}

.Electrical_Electronics {

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(electrical_electronicspic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    height: 750px;
    font-size: 100px;
}

.engine {

display: flex;
justify-content: center;
align-items: center;
background-image: url(enginepic.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
min-height: 100vh;
height: 750px;
font-size: 100px;

}

.suspension {

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(suspic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    height: 750px;
    font-size: 100px;

}

.tires {

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(tirepic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    height: 750px;
    font-size: 100px;


}

.nhtsa {

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(safetypic.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    height: 750px;
    font-size: 100px;

}

.doityourself {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(doityourselfpic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    height: 700px;    
    font-size: 75px;
}

.Drivetrain {

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(drivetrainpic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    height: 750px;
    font-size: 100px;

}

.transmission {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(transmissionpic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    height: 650px;
    font-size: 50px;

}